<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h1>Unlock the power of raw in your timelapse</h1>

            </div>
            <div class="col-lg-10 col-lg-offset-1 himg">
                <!--<img src="{{ "/assets/img/icon-big_withText_600.png" | prepend: site.baseurl }}" class="img-responsive">-->
                <iframe width="808" height="540" src="https://www.youtube.com/embed/5jVyAdbIo00?rel=0&amp;controls=0&amp;showinfo=0;autoplay=1"  frameborder="0" allowfullscreen></iframe>
                <!--<h5><em><strong>Interpolate</strong> : to insert, estimate, or find an intermediate term in a sequence.</em></h5>-->
                <h5>Continue to use Adobe Photoshop CameraRaw, Duskr will do the rest.</h5>
                <p><br/><a href="/how/" class="btn btn-theme">Tell me more</a></p>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
